body {
  background-color: #5771d9;
  font-family: "Noto Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.contenedorPrincipal {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: center;
}

.contenedor {
  width: 90%;
  padding: 24px;
  background-color: #f2f7f4;
  height: 90vh;
}
.contenedorResumen {
  width: 90%;
  padding: 24px;
  background-color: #f2f7f4;
  height: 90vh;
}

.contenedor .titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #040205;
  font-size: 30px;
}

.contenedor .addTasks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedor .addTasks .addTasksTextInput {
  border-radius: 5px;
  width: 100%;
  padding: 12px 0px 12px 0px;
  border-color: purple;
}

.contenedor .addButton {
  margin-top: 12px;
  width: 100%;
  padding: 12px;
  background-color: #50d977;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contenedor .addTasks .addButton:hover {
  background-color: #297c40;
}

.tasks {
  color: #040205;
  margin-top: 20px;
}

.listado {
  border: none;
}

.contenedor .tasks .editButton {
  color: #ffffff;
  background-color: #5771d9;
  border: none;
  padding: 8px;
  border-radius: 12px;
  width: 90px;
  cursor: pointer;
}

.contenedor .tasks .editButton:hover {
  background-color: #374992;
}

.contenedor .tasks .deleteButton {
  color: #ffffff;
  background-color: #d92114;
  border: none;
  padding: 8px;
  border-radius: 12px;
  width: 90px;
  cursor: pointer;
}

.contenedor .tasks .deleteButton:hover {
  background-color: #94150c;
}

.contenedor .tasks .saveButton {
  color: #ffffff;
  background-color: #ebde26;
  border: none;
  padding: 8px;
  border-radius: 12px;
  width: 90px;
  cursor: pointer;
}

.contenedor .tasks .saveButton:hover {
  background-color: #bab01e;
}

.tasks .listado .items {
  border: 1px solid gray;
}
.contenedor .tasks .inputSave {
  border-radius: 5px;
  width: 90%;
  padding: 12px 0px 12px 0px;
  border-color: purple;
}

.contenedor .tasks .textoTarea {
  text-transform: uppercase;
}

#cabecera > th {
  text-align: left;
}

#datepicker {
  border-radius: 5px;
  width: 100%;
  padding: 12px 0px 12px 0px;
  border-color: purple;
}
